body {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
}

.new-list {
    background-color: #a298a200;
    border-bottom-color: hsl(206deg 84.62% 12.57%);
    border-radius: 34px;
    width: 170px;
    height: 50px;
    padding: 0;
    color: hsl(206deg 84.62% 12.57%);
    cursor: pointer;
    border-left-color: hsl(206deg 84.62% 12.57%);
    border-right-color: hsl(206deg 84.62% 12.57%);
    border-top-color: hsl(206deg 84.62% 12.57%);
}

.new-list:hover {
    background-color: hsl(206deg 84.62% 12.57%);
    color: white;
}
